@{
    ViewBag.Title = "View4";
}

<style>
    .wrapper {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .container-box {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<div class="wrapper">
    <div class="container-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Triangle Sides</h3>
                    <ul>
                        <li>Side 1: @ViewBag.Side1</li>
                        <li>Side 2: @ViewBag.Side2</li>
                        <li>Side 3: @ViewBag.Side3</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container mt-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Perimeter: @ViewBag.Perimeter</h3>
                    
                    <h3>Longest Side: @ViewBag.LongestSide</h3>
                </div>
            </div>
        </div>
    </div>
</div>
