@model List<QuestionViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Тест</title>
</head>
<body>
    <h2>Вища математика. Аналітична геометрія.</h2>
    @if ((int)ViewBag.AttemptCount >= 3)
    {
        <div class="alert alert-danger" role="alert">
            All attempts are exhausted. You have reached the maximum limit of attempts.
        </div>
        <button type="button" class="btn btn-primary" onclick="window.history.back();">Back</button>
    }
    else
    {
        using (Html.BeginForm("SubmitTest", "Test", FormMethod.Post, new { id = "testForm" }))
        {
            foreach (var question in Model)
            {
            <div>
                <p>@question.Question</p>
                @if (question.Type == QuestionType.SingleChoice)
                {
                    foreach (var option in question.Options)
                    {
                        <input type="radio" name="@question.Question" value="@option"> @option<br>
                    }
                }
                else if (question.Type == QuestionType.MultipleChoice)
                {
                    foreach (var option in question.Options)
                    {
                        <input type="checkbox" name="@question.Question" value="@option"> @option<br>
                    }
                }
                else if (question.Type == QuestionType.OpenEnded)
                {
                    <input type="text" name="@question.Question"><br>
                }
            </div>
            }

            <input type="submit" value="Отправить ответы">
        }
    }
</body>
</html>
